{{!-- <nav class="green">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">Main</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			{{#if isUsers }}
			<li class="active"><a href="/api/users" style="display: inline-block;">Users</a></li>
			{{else}}
			<li><a href="/api/users" style="display: inline-block;">Users</a></li>
			{{/if}}
			<input type="text" style="display: inline-block; max-width:50px; padding: 0 10px; visibility: hidden">

		</ul>
	</div>
</nav> --}}
<a href="/">Main</a>
<ul>
	{{#if isUsers }}
	<li><a href="/api/users" style="display: inline-block;">Users</a></li>
	{{else}}
	<li><a href="/api/users" style="display: inline-block;">Users</a></li>
	{{/if}}
	<li><a href="/api/universities" style="display: inline-block;">University</a></li>
</ul>
<nav>

</nav>