<div class="wrapper">
	<div class="about">
		<div class="about__title title"><img id="main-logo" src="/img/icons/logo.png" alt="logo" /> Багатосторінковий сайт</div>
		<div class="about__row row">
			<div class="about__menu menu">
				{{>menu}}
			</div>
			<div class="about__content content">
				<p>
					Веб сайт надає можливість перегляду списків моделей даних, додавання нових екземплярів, а також редагування і видалення вже існуючих.
				</p>
				<p>
					Підтримується робота з такими моделями даних:
					<br>
					<b>User</b>, <b>University</b>
				</p>
				<ul>
					Модель <b>User</b> містить:
					<li>- login</li>
					<li>- uuid</li>
					<li>- fullname</li>
					<li>- role</li>
					<li>- registration date</li>
					<li>- avatar</li>
				</ul>
				<ul>
					Модель <b>University</b> містить:
					<li>- uuid</li>
					<li>- name</li>
					<li>- country</li>
					<li>- num of students</li>
					<li>- campus</li>
					<li>- foundation date</li>
					<li>- image</li>
				</ul>

				<br>
			</div>
		</div>
	</div>
</div>