<div class="wrapper">
	<div class="home">
		<div class="home__title title"><img id="main-logo" src="/img/icons/logo.png" alt="logo" /> Багатосторінковий сайт</div>
		<div class="home__row row">
			<div class="home__menu menu">
				{{>menu}}
			</div>
			<div class="home__content content">
				Основним призначенням сайту є можливість CRUD доступу до ресурсів веб-сервера. <br>
				<ul>
					<li>- Users;</li>
					<li>- Universities;</li>
					<li>- Speciality;</li>
				</ul>
			</div>
		</div>
	</div>
</div>